@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    animation: fadeInUp 1300ms ease-in-out;
}

.progress-bar {
    /*width: 100%;*/
    height: 10px;
    border-radius: 5px;
}
.out-progress-bar {
    border: 1px solid #7D7C7C;
}
.subject {
    margin-top: 15px;
    font-size: 30px;
    padding-top: 30px;
}
.title {
    margin-top: 15px;
    font-size: 20px;
}
#submit_btn_box {
    display: flex;
    justify-content: center;
    padding: 120px;
}
#submitBtn {
    width: 200px;
    height: 50px;
}
