main{
    margin: 0 auto;
    width: 1300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

main .btn-primary{
    float: right;
    margin-right: 80px;
}

h2{
    color: #157347;
}

main .container{
    width: 1100px;
}
