<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">

	<insert id="insertAdmin">
		INSERT INTO ADMIN_TBL VALUES (SEQ_ADMIN_NO.NEXTVAL, #{userNo}, #{regionNo}, #{adminOrg}, DEFAULT, DEFAULT)
	</insert>

	<insert id="insertRole">
		INSERT INTO ROLE_TBL VALUES (SEQ_ROLE_NO.NEXTVAL, SEQ_USER_R_NO.NEXTVAL, DEFAULT)
	</insert>

	<update id="updateRole">
		UPDATE ROLE_TBL SET USER_GRADE = 2 WHERE USER_NO = #{userNo}
	</update>

	<resultMap id="adminResultMap"  type="com.bringbring.admin.domain.AdminDetails">
		<id property="adminNo" column="ADMIN_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="adminCreateDate" column="ADMIN_CREATE_DATE"/>
		<result property="regionName" column="REGION_NAME"/>
	</resultMap>

	<!-- 매핑된 결과를 사용하는 SELECT 쿼리 -->
	<select id="selectAdminDetailsList" resultMap="adminResultMap">
		SELECT a.ADMIN_NO, u.USER_ID, u.USER_PHONE, a.ADMIN_CREATE_DATE, r.REGION_NAME
		FROM ADMIN_TBL a
				 JOIN USER_TBL u ON a.USER_NO = u.USER_NO
				 JOIN REGION_TBL r ON a.REGION_NO = r.REGION_NO
	</select>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM ADMiN_TBL
	</select>
</mapper>