<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DivideMapper">

	<resultMap id="responseData" type="com.bringbring.divide.domain.ResponseData">
		<association property="divide" resultMap="divide"/>
		<association property="image" resultMap="image"/>
		<association property="city" resultMap="city"/>
		<association property="district" resultMap="district"/>
		<association property="wasteCategory" resultMap="wasteCategory"/>
		<association property="user" resultMap="user"/>
		<association property="heart" resultMap="heart"/>
		<association property="chatRoom" resultMap="chatRoom"/>
	</resultMap>

	<resultMap id="updateData" type="com.bringbring.divide.domain.UpdateData">
		<association property="divide" resultMap="divide"/>
		<association property="city" resultMap="city"/>
		<association property="district" resultMap="district"/>
		<association property="wasteCategory" resultMap="wasteCategory"/>
	</resultMap>

	<resultMap id="detailData" type="com.bringbring.divide.domain.DetailData">
		<association property="divide" resultMap="divide"/>
		<association property="user" resultMap="user"/>
		<association property="city" resultMap="city"/>
		<association property="district" resultMap="district"/>
		<association property="wasteCategory" resultMap="wasteCategory"/>
	</resultMap>

	<resultMap id="userData" type="com.bringbring.chatting.domain.UserData">
		<association property="divide" resultMap="divide"/>
		<association property="user" resultMap="user"/>
	</resultMap>

	<resultMap id="divide" type="com.bringbring.divide.domain.Divide">
		<id property="divNo" column="DIV_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="divTitle" column="DIV_TITLE" />
		<result property="divContent" column="DIV_CONTENT" />
		<result property="wasteCategoryNo" column="WASTE_CATEGORY_NO" />
		<result property="divCreateDate" column="DIV_CREATE_DATE" />
		<result property="divUpdateDate" column="DIV_UPDATE_DATE" />
		<result property="divYn" column="DIV_YN" />
		<result property="viewCount" column="VIEW_COUNT" />
		<result property="isDivDeleted" column="IS_DIV_DELETED" />
		<result property="cityNo" column="CITY_NO" />
		<result property="districtNo" column="DISTRICT_NO" />
		<result property="divXCoordinate" column="DIV_X_COORDINATE" />
		<result property="divYCoordinate" column="DIV_Y_COORDINATE" />
		<result property="heartCount" column="heartCount" />
		<result property="chatroomCount" column="chatroomCount" />
	</resultMap>

	<resultMap id="image" type="com.bringbring.image.domain.Image">
		<id property="imageNo" column="IMAGE_NO" />
		<result property="tableName" column="TABLE_NAME" />
		<result property="imageGroupNo" column="IMAGE_GROUP_NO" />
		<result property="imageName" column="IMAGE_NAME" />
		<result property="imageRename" column="IMAGE_RENAME" />
		<result property="imagePath" column="IMAGE_PATH" />
	</resultMap>

	<resultMap id="city" type="com.bringbring.region.domain.City">
		<id property="cityNo" column="CITY_NO" />
		<result property="cityName" column="CITY_NAME" />
	</resultMap>

	<resultMap id="district" type="com.bringbring.region.domain.District">
		<id property="districtNo" column="DISTRICT_NO" />
		<result property="districtName" column="DISTRICT_NAME" />
		<result property="cityNo" column="CITY_NO" />
	</resultMap>

	<resultMap id="wasteCategory" type="com.bringbring.reservation.domain.WasteCategory">
		<id property="wasteCategoryNo" column="WASTE_CATEGORY_NO" />
		<result property="wasteCategoryName" column="WASTE_CATEGORY_NAME" />
	</resultMap>

	<resultMap id="heart" type="com.bringbring.divide.domain.Heart">
		<id property="heartNo" column="HEART_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="divNo" column="DIV_NO" />
		<result property="heartUserNo" column="heartUserNo" />
		<result property="heartCount" column="heartCount" />
	</resultMap>

	<resultMap id="user" type="com.bringbring.user.domain.User">
		<id property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="userPwd" column="USER_PWD" />
		<result property="userName" column="USER_NAME" />
		<result property="userPhone" column="USER_PHONE" />
		<result property="userPostCode" column="USER_POSTCODE" />
		<result property="userAddress" column="USER_ADDRESS" />
		<result property="userAddressDetail" column="USER_ADDRESS_DETAIL" />
		<result property="userCreateDate" column="USER_CREATE_DATE" />
		<result property="userProfileName" column="USER_PROFILE_NAME" />
		<result property="userProfileRename" column="USER_PROFILE_RENAME" />
		<result property="userProfilePath" column="USER_PROFILE_PATH" />
<!--		<result property="userProfileLength" column="USER_PROFILE_LENGTH" />-->
		<result property="isUserDeleted" column="IS_USER_DELETED" />
	</resultMap>

	<resultMap id="chatRoom" type="com.bringbring.chatting.domain.ChatRoom">
		<id property="chatroomNo" column="CHATROOM_NO" />
		<result property="divNo" column="DIV_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="getUserNo" column="GET_USER_NO" />
		<result property="chatroomCreateDate" column="CHATROOM_CREATE_DATE" />
		<result property="mUserNo" column="mUserNo" />
		<result property="chatroomCount" column="chatroomCount" />
	</resultMap>

	<select id="selectDetailDataByNo" resultMap="detailData">
		SELECT A.*, C.CITY_NAME , D.DISTRICT_NAME, F.WASTE_CATEGORY_NAME, G.*
			 , (SELECT COUNT(*) FROM HEART_TBL WHERE DIV_NO = #{value}) AS heartCount
			 , (SELECT COUNT(*) FROM CHATROOM_TBL WHERE DIV_NO = #{value}) AS chatroomCount
		FROM DIVIDE_TBL A
			 JOIN CITY_TBL C ON A.CITY_NO = C.CITY_NO
			 JOIN DISTRICT_TBL D ON A.DISTRICT_NO = D.DISTRICT_NO
			 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
			 LEFT JOIN USER_TBL G ON A.USER_NO = G.USER_NO
		WHERE A.DIV_NO = #{value}
	</select>
	<select id="selectLoginResponseDataList" resultMap="responseData">
		SELECT A.*, B.*, C.*, E.*, F.*, G.USER_NO AS heartUserNo,
			   (SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
			   (SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount,
			   H.USER_NO AS mUserNo, H.GET_USER_NO
		FROM DIVIDE_TBL A
				 JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
				 JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
				 JOIN USER_TBL E ON A.USER_NO = E.USER_NO
				 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
				 LEFT JOIN (
			SELECT DIV_NO, COUNT(*) AS heartCount, USER_NO
			FROM HEART_TBL
			WHERE USER_NO = 2
			GROUP BY DIV_NO, USER_NO
		) G ON A.DIV_NO = G.DIV_NO
				 LEFT JOIN (
			SELECT DIV_NO, COUNT(*) AS chatroomNo, MIN(USER_NO) AS USER_NO, MIN(GET_USER_NO) AS GET_USER_NO
			FROM CHATROOM_TBL
			WHERE USER_NO = 2 OR GET_USER_NO = 2
			GROUP BY DIV_NO
		) H ON A.DIV_NO = H.DIV_NO
		WHERE A.IS_DIV_DELETED = 'N'
		  AND A.DIV_NO IN (
			SELECT D.IMAGE_GROUP_NO
			FROM IMAGE_TBL D
			WHERE TABLE_NAME = 'divide'
			  AND D.IMAGE_NO = (
				SELECT MIN(IMAGE_NO)
				FROM IMAGE_TBL
				WHERE IMAGE_GROUP_NO = D.IMAGE_GROUP_NO
				  AND TABLE_NAME = 'divide'
			)
		)
		ORDER BY DIV_CREATE_DATE DESC
	</select>
	<select id="selectLoginResponseDataListHeart" resultMap="responseData">
		SELECT A.*, B.*, C.*, E.*, F.*, G.USER_NO AS heartUserNo,
			   (SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
			   (SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount,
			   H.USER_NO AS mUserNo, H.GET_USER_NO
		FROM DIVIDE_TBL A
				 JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
				 JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
				 JOIN USER_TBL E ON A.USER_NO = E.USER_NO
				 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
				 LEFT JOIN (
			SELECT DIV_NO, COUNT(*) AS heartCount, USER_NO
			FROM HEART_TBL
			WHERE USER_NO = 2
			GROUP BY DIV_NO, USER_NO
		) G ON A.DIV_NO = G.DIV_NO
				 LEFT JOIN (
			SELECT DIV_NO, COUNT(*) AS chatroomNo, MIN(USER_NO) AS USER_NO, MIN(GET_USER_NO) AS GET_USER_NO
			FROM CHATROOM_TBL
			WHERE USER_NO = 2 OR GET_USER_NO = 2
			GROUP BY DIV_NO
		) H ON A.DIV_NO = H.DIV_NO
		WHERE A.IS_DIV_DELETED = 'N'
		  AND A.DIV_NO IN (
			SELECT D.IMAGE_GROUP_NO
			FROM IMAGE_TBL D
			WHERE TABLE_NAME = 'divide'
			  AND D.IMAGE_NO = (
				SELECT MIN(IMAGE_NO)
				FROM IMAGE_TBL
				WHERE IMAGE_GROUP_NO = D.IMAGE_GROUP_NO
				  AND TABLE_NAME = 'divide'
			)
		)
		ORDER BY heartCount DESC
	</select>
	<select id="selectLoginResponseDataSearchListHeart" resultMap="responseData">
		SELECT A.*, B.*, C.*, E.*, F.*, G.USER_NO AS heartUserNo,
		(SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
		(SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount,
		H.USER_NO AS mUserNo, H.GET_USER_NO
		FROM DIVIDE_TBL A
		JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
		JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
		JOIN USER_TBL E ON A.USER_NO = E.USER_NO
		JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		LEFT JOIN (
		SELECT DIV_NO, COUNT(*) AS heartCount, USER_NO
		FROM HEART_TBL
		WHERE USER_NO = 2
		GROUP BY DIV_NO, USER_NO
		) G ON A.DIV_NO = G.DIV_NO
		LEFT JOIN (
		SELECT DIV_NO, COUNT(*) AS chatroomNo, MIN(USER_NO) AS USER_NO, MIN(GET_USER_NO) AS GET_USER_NO
		FROM CHATROOM_TBL
		WHERE USER_NO = 2 OR GET_USER_NO = 2
		GROUP BY DIV_NO
		) H ON A.DIV_NO = H.DIV_NO
		WHERE A.IS_DIV_DELETED = 'N'
		AND A.DIV_NO IN (
		SELECT D.IMAGE_GROUP_NO
		FROM IMAGE_TBL D
		WHERE TABLE_NAME = 'divide'
		AND D.IMAGE_NO = (
		SELECT MIN(IMAGE_NO)
		FROM IMAGE_TBL
		WHERE IMAGE_GROUP_NO = D.IMAGE_GROUP_NO
		AND TABLE_NAME = 'divide'
		)
		)
		<if test="searchCondition == 'all'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%' OR DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
			OR B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
		    OR F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'region'">
			AND B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			AND F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY heartCount DESC
	</select>
	<select id="selectLoginResponseDataSearchList" resultMap="responseData">
		SELECT A.*, B.*, C.*, E.*, F.*, G.USER_NO AS heartUserNo,
		(SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
		(SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount,
		H.USER_NO AS mUserNo, H.GET_USER_NO
		FROM DIVIDE_TBL A
		JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
		JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
		JOIN USER_TBL E ON A.USER_NO = E.USER_NO
		JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		LEFT JOIN (
		SELECT DIV_NO, COUNT(*) AS heartCount, USER_NO
		FROM HEART_TBL
		WHERE USER_NO = 2
		GROUP BY DIV_NO, USER_NO
		) G ON A.DIV_NO = G.DIV_NO
		LEFT JOIN (
		SELECT DIV_NO, COUNT(*) AS chatroomNo, MIN(USER_NO) AS USER_NO, MIN(GET_USER_NO) AS GET_USER_NO
		FROM CHATROOM_TBL
		WHERE USER_NO = 2 OR GET_USER_NO = 2
		GROUP BY DIV_NO
		) H ON A.DIV_NO = H.DIV_NO
		WHERE A.IS_DIV_DELETED = 'N'
		AND A.DIV_NO IN (
		SELECT D.IMAGE_GROUP_NO
		FROM IMAGE_TBL D
		WHERE TABLE_NAME = 'divide'
		AND D.IMAGE_NO = (
		SELECT MIN(IMAGE_NO)
		FROM IMAGE_TBL
		WHERE IMAGE_GROUP_NO = D.IMAGE_GROUP_NO
		AND TABLE_NAME = 'divide'
		)
		)
		<if test="searchCondition == 'all'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%' OR DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
			OR B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
			OR F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'region'">
			AND B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			AND F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY DIV_CREATE_DATE DESC
	</select>
	<select id="selectResponseDataList" resultMap="responseData">
		SELECT A.*, B.*, C.*, D.*, E.*, F.*
			 , (SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount
			 , (SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount
		FROM DIVIDE_TBL A
				 JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
				 JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
				 JOIN IMAGE_TBL D ON A.DIV_NO = D.IMAGE_GROUP_NO
				 JOIN USER_TBL E ON A.USER_NO = E.USER_NO
				 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N'
		  AND D.IMAGE_NO = (
			SELECT MIN(IMAGE_NO)
			FROM IMAGE_TBL
			WHERE IMAGE_GROUP_NO = A.DIV_NO
			  AND TABLE_NAME = 'divide'
		)
		ORDER BY DIV_CREATE_DATE DESC
	</select>
	<select id="selectResponseDataSearchList" resultMap="responseData">
		SELECT A.*, B.*, C.*, D.*, E.*, F.*,
		(SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
		(SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount
		FROM DIVIDE_TBL A
		JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
		JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
		JOIN (
		SELECT IMAGE_GROUP_NO, MIN(IMAGE_NO) AS MIN_IMAGE_NO
		FROM IMAGE_TBL
		WHERE TABLE_NAME = 'divide'
		GROUP BY IMAGE_GROUP_NO
		) D ON A.DIV_NO = D.IMAGE_GROUP_NO
		JOIN USER_TBL E ON A.USER_NO = E.USER_NO
		JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N'
		<if test="searchCondition == 'all'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%' OR DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
			OR B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
			OR F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'region'">
			AND B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			AND F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY DIV_CREATE_DATE DESC
 	</select>
	<select id="selectResponseDataListHeart" resultMap="responseData">
		SELECT A.*, B.*, C.*, D.*, E.*, F.*
			 , (SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount
			 , (SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount
		FROM DIVIDE_TBL A
				 JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
				 JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
				 JOIN IMAGE_TBL D ON A.DIV_NO = D.IMAGE_GROUP_NO
				 JOIN USER_TBL E ON A.USER_NO = E.USER_NO
				 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N'
		  AND D.IMAGE_NO = (
			SELECT MIN(IMAGE_NO)
			FROM IMAGE_TBL
			WHERE IMAGE_GROUP_NO = A.DIV_NO
			  AND TABLE_NAME = 'divide'
		)
		ORDER BY heartCount DESC
	</select>
	<select id="selectResponseDataSearchListHeart" resultMap="responseData">
		SELECT A.*, B.*, C.*, D.*, E.*, F.*,
		(SELECT COUNT(*) FROM HEART_TBL I WHERE I.DIV_NO = A.DIV_NO) AS heartCount,
		(SELECT COUNT(*) FROM CHATROOM_TBL J WHERE J.DIV_NO = A.DIV_NO) AS chatroomCount
		FROM DIVIDE_TBL A
		JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
		JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
		JOIN (
		SELECT IMAGE_GROUP_NO, MIN(IMAGE_NO) AS MIN_IMAGE_NO
		FROM IMAGE_TBL
		WHERE TABLE_NAME = 'divide'
		GROUP BY IMAGE_GROUP_NO
		) D ON A.DIV_NO = D.IMAGE_GROUP_NO
		JOIN USER_TBL E ON A.USER_NO = E.USER_NO
		JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N'
		<if test="searchCondition == 'all'">
			AND (
			DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
			OR B.CITY_NAME LIKE '%'||#{searchKeyword}||'%'
			OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
			OR F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
			)
		</if>
		<if test="searchCondition == 'title'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'region'">
			AND (B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%')
		</if>
		<if test="searchCondition == 'category'">
			AND F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
		ORDER BY heartCount DESC
	</select>
  	<select id="selectMaxNo" resultType="_int">
  		SELECT MAX(DIV_NO) FROM DIVIDE_TBL
  	</select>
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DIVIDE_TBL A
				 JOIN DISTRICT_TBL D ON A.DISTRICT_NO = D.DISTRICT_NO
				 JOIN CITY_TBL C ON A.CITY_NO = C.CITY_NO
				 JOIN IMAGE_TBL B ON A.DIV_NO = B.IMAGE_GROUP_NO
				 JOIN WASTE_CATEGORY_TBL E ON A.WASTE_CATEGORY_NO = E.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N' AND B.IMAGE_NO = (SELECT MIN(IMAGE_NO) FROM IMAGE_TBL WHERE IMAGE_GROUP_NO = A.DIV_NO)
	</select>
	<select id="getSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DIVIDE_TBL A
				 JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
				 JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
				 JOIN IMAGE_TBL D ON A.DIV_NO = D.IMAGE_GROUP_NO
				 JOIN USER_TBL E ON A.USER_NO = E.USER_NO
				 JOIN WASTE_CATEGORY_TBL F ON A.WASTE_CATEGORY_NO = F.WASTE_CATEGORY_NO
		WHERE A.IS_DIV_DELETED = 'N'
		  AND D.IMAGE_NO = (
			SELECT MIN(IMAGE_NO)
			FROM IMAGE_TBL
			WHERE IMAGE_GROUP_NO = A.DIV_NO
			  AND TABLE_NAME = 'divide'
		)
		<if test="searchCondition == 'all'">
			AND (
			DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
			OR B.CITY_NAME LIKE '%'||#{searchKeyword}||'%'
			OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%'
			OR F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
			)
		</if>
		<if test="searchCondition == 'title'">
			AND DIV_TITLE LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'region'">
			AND (B.CITY_NAME LIKE '%'||#{searchKeyword}||'%' OR C.DISTRICT_NAME LIKE '%'||#{searchKeyword}||'%')
		</if>
		<if test="searchCondition == 'category'">
			AND F.WASTE_CATEGORY_NAME LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	<select id="getHeartCount" resultType="_int">
		SELECT COUNT(*) FROM HEART_TBL WHERE DIV_NO = #{value}
	</select>
	<select id="selectDivideList" resultType="Divide">
		SELECT * FROM DIVIDE_TBL
	</select>
	<select id="selectImageListByNo" resultType="Image">
		SELECT * FROM IMAGE_TBL WHERE IMAGE_GROUP_NO = #{value} AND TABLE_NAME = 'divide'
	</select>
	<select id="selectOneByNo" resultType="Divide">
		SELECT * FROM DIVIDE_TBL WHERE DIV_NO = #{value}
	</select>
	<select id="selectHeartByMap" resultType="Heart">
		SELECT A.*, B.USER_ID AS userId FROM HEART_TBL A
		JOIN USER_TBL B ON A.USER_NO = B.USER_NO
		WHERE DIV_NO = #{divNo} AND B.USER_ID= #{sessionId}
	</select>
	<select id="selectUpdateDataByNo" resultMap="updateData">
		SELECT * FROM DIVIDE_TBL A
		  JOIN CITY_TBL B ON A.CITY_NO = B.CITY_NO
		  JOIN DISTRICT_TBL C ON A.DISTRICT_NO = C.DISTRICT_NO
		  JOIN WASTE_CATEGORY_TBL D ON A.WASTE_CATEGORY_NO = D.WASTE_CATEGORY_NO
		WHERE DIV_NO = #{value}
	</select>
	<select id="selectUserDataByNo" resultMap="userData">
		SELECT * FROM DIVIDE_TBL JOIN USER_TBL USING(USER_NO) WHERE DIV_NO = #{value}
	</select>
  	<insert id="insertDivide">
  		INSERT INTO DIVIDE_TBL VALUES (
      SEQ_DIV_NO.NEXTVAL , #{userNo}, #{wasteCategoryNo}, #{divTitle}, #{divContent},
      DEFAULT, DEFAULT, 0, DEFAULT, DEFAULT,
      #{cityNo}, #{districtNo}, #{divXCoordinate}, #{divYCoordinate}
    	)
  	</insert>
  	<insert id="insertImage">
  		INSERT INTO IMAGE_TBL VALUES (
      SEQ_IMAGE_NO.NEXTVAL, #{tableName}, #{imageGroupNo}, #{imageName}, #{imageRename}, #{imagePath})
  	</insert>
	<insert id="insertHeart">
		INSERT INTO HEART_TBL VALUES(SEQ_HEART_NO.NEXTVAL, #{userNo}, #{divNo})
	</insert>
	<delete id="deleteHeart">
		DELETE FROM HEART_TBL WHERE DIV_NO = #{divNo} AND USER_NO = #{userNo}
	</delete>
	<update id="deleteDivide">
		UPDATE DIVIDE_TBL SET IS_DIV_DELETED = 'Y' WHERE DIV_NO = #{value}
	</update>
	<update id="updateDivide">
		UPDATE  DIVIDE_TBL SET
		WASTE_CATEGORY_NO = #{wasteCategoryNo}, DIV_TITLE = #{divTitle}, DIV_CONTENT = #{divContent}, DIV_UPDATE_DATE = DEFAULT
		, CITY_NO = #{cityNo}, DISTRICT_NO = #{districtNo}, DIV_X_COORDINATE = #{divXCoordinate}, DIV_Y_COORDINATE = #{divYCoordinate}
		WHERE DIV_NO = #{divNo}
	</update>
	<update id="updateViewCount">
		UPDATE DIVIDE_TBL SET VIEW_COUNT = #{viewCount} WHERE DIV_NO = #{divNo}
	</update>
	<delete id="deleteImage">
		DELETE FROM IMAGE_TBL WHERE IMAGE_NO = #{value}
	</delete>
</mapper>