<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">

	<resultMap id="image" type="com.bringbring.image.domain.Image">
		<id property="imageNo" column="IMAGE_NO" />
		<result property="tableName" column="TABLE_NAME" />
		<result property="imageGroupNo" column="IMAGE_GROUP_NO" />
		<result property="imageName" column="IMAGE_NAME" />
		<result property="imageRename" column="IMAGE_RENAME" />
		<result property="imagePath" column="IMAGE_PATH" />
	</resultMap>
	
	
	<insert id="insertNotice">
		<selectKey resultType="int" keyProperty="noticeNo" order="BEFORE">
	        SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO NOTICE_TBL VALUES
		(#{noticeNo},#{noticeType},#{noticeTitle},#{noticeContent},DEFAULT,DEFAULT,DEFAULT,#{userNo})
	</insert>
  	
	<update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent} WHERE NOTICE_NO = #{noticeNo}
	</update>

 	<update id="deleteNotice">
		UPDATE NOTICE_TBL SET IS_NOTICE_DELETED = 'Y' WHERE NOTICE_NO = #{noticeNo }
	</update><select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM
		NOTICE_TBL WHERE IS_NOTICE_DELETED = 'N'
	</select>
 	<select id="selectServiceCount" resultType="_int">
		SELECT COUNT(*) FROM
		NOTICE_TBL WHERE IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '서비스'
	</select>
 	<select id="selectUpdateCount" resultType="_int">
		SELECT COUNT(*) FROM
		NOTICE_TBL WHERE IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '업데이트'
	</select>

	<select id="selectNoticeList" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE IS_NOTICE_DELETED = 'N' ORDER BY NOTICE_NO DESC
	</select>
	<select id="selectServiceList" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '서비스' ORDER BY NOTICE_NO DESC
	</select>
	<select id="selectUpdateList" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '업데이트' ORDER BY NOTICE_NO DESC
	</select>

	<select id="selectNoticeByNo" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE NOTICE_NO = #{noticeNo} AND IS_NOTICE_DELETED = 'N'
	</select>

	
	
	
	<update id="updateViewCount">
		UPDATE NOTICE_TBL SET NOTICE_VIEW_COUNT = NOTICE_VIEW_COUNT +1 WHERE NOTICE_NO=#{noticeNo }
	</update>
	
	<select id="selectListByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL WHERE NOTICE_TITLE LIKE'%'||#{searchKeyword }||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%' AND IS_NOTICE_DELETED = 'N'
	</select>
	<select id="selectServiceListByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL WHERE NOTICE_TITLE LIKE'%'||#{searchKeyword }||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%' AND IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '서비스'
	</select>
	<select id="selectUpdateListByKeywordCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL WHERE NOTICE_TITLE LIKE'%'||#{searchKeyword }||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%' AND IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '업데이트'
	</select>

	
	<select id="searchNoticeByKeyword" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE NOTICE_TITLE LIKE'%' ||#{searchKeyword}||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%' AND IS_NOTICE_DELETED = 'N' ORDER BY NOTICE_NO DESC
	</select>
	<select id="searchServiceByKeyword" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO
		WHERE NOTICE_TITLE LIKE'%' ||#{searchKeyword}||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%' AND IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '서비스' ORDER BY NOTICE_NO DESC
	</select>
	<select id="searchUpdateByKeyword" resultType="Notice">
		SELECT N.*, REGION_NAME FROM NOTICE_TBL N
		LEFT JOIN ADMIN_TBL A ON N.USER_NO = A.USER_NO
		LEFT JOIN REGION_TBL R ON A.REGION_NO = R.REGION_NO 
		WHERE NOTICE_TITLE LIKE'%' ||#{searchKeyword}||'%' OR NOTICE_CONTENT LIKE'%'||#{searchKeyword }||'%'  AND IS_NOTICE_DELETED = 'N' AND NOTICE_TYPE = '업데이트' ORDER BY NOTICE_NO DESC
	</select>

	<insert id="insertImage">
  		INSERT INTO IMAGE_TBL VALUES (SEQ_IMAGE_NO.NEXTVAL, #{tableName}, #{imageGroupNo}, #{imageName}, #{imageRename}, #{imagePath})
  	</insert><select id="selectImageByNo" resultType="Image">
		SELECT * FROM IMAGE_TBL WHERE IMAGE_GROUP_NO = #{noticeNo} AND TABLE_NAME = 'notice'
	</select>

	
</mapper>