<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">
    <insert id="insertReport">
        INSERT INTO REPORT_TBL VALUES (SEA_REP_NO.NEXTVAL, #{divNo}, #{userNo}, #{repCategory}, #{repContent}, DEFAULT, DEFAULT, DEFAULT)
    </insert>
</mapper>