<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

  	<select id="selectCheckLogin">
  		SELECT * FROM USER_TBL WHERE USER_ID = #{userId } AND USER_PWD = #{userPwd }
  	</select>
  	
  	<select id="selectUserList" resultType="User">
	    SELECT * FROM USER_TBL ORDER BY USER_NO DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
	    SELECT COUNT(*) FROM USER_TBL
	</select>
	
</mapper>