#modal_body_content {
    height: 570px;
    overflow-y: auto;
}

select {
    margin-top: 20px;
    margin-bottom: 20px;
}
#modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}