main .mypage_top {
    max-width: 1300px;
    min-height: 900px;
    padding: 50px;
    margin-top: 60px !important;
    --border: 1px solid #cccccc;
}

main .recent_enroll_list img {
    width: 150px;
    height: 150px;
}

main .mypage_profile_img {
    width: 120px;
    height: 120px;
}

main .mypage_sidebar {
    border-right: 1px solid #00AD7C;
}

main .mypage_sidebar a {
    padding-left: 1rem;
    display: inline-block; 
    line-height: 100px; 
    color: #333; 
    vertical-align: middle; 
}

main .mypage_top_div {
    border-bottom: 2px solid #00AD7C;
}